
.box {
  align-items: center;
  border-color: #ffffff;
  border-width: 1vh;
  border-style: solid;
  display: flex;
  height: 20vh;
  justify-content: center;
  width: 20vh;
}

.third-flex {
  display: flex;
  flex-grow: 1;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.containerBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonReset {
  background: #0069ed;
  border: none;
  cursor: pointer;
  height: 20vh;
  width: 20vw;
  display: inline-block;
  text-decoration: none;
  margin: 0;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 10vh;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.no-victor {
  background-color: #e60000;
}

.victory {
  background-color: #00cc00;
}

.result-text {
  font-size: 24px;
  color: #0000ff;
}
